#header {
  border-bottom: 1px solid var(--secondary);
  color: var(--secondary-text);
}

.nav-link:hover {
  background-color: var(--secondary);
}

#nav-menu-mobile {
  background-color: var(--bg-color);
}
