#header > div:first-child {
  background-color: var(--bg-color);
  color: var(--secondary-text);
  border-bottom: 1px solid var(--secondary);
}

.nav-link:hover {
  background-color: var(--secondary);
}

#nav-menu-mobile {
  background-color: var(--bg-color);
}

#nav-other-mobile {
  border-top: 1px solid var(--secondary);
}
