.zoom-effect {
  cursor: zoom-in;
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(4);
  z-index: 9999999999999;
  position: relative;
}

@media (max-width: 767px) {
  .zoom-effect:hover {
    transform: scale(2) !important;
  }
}
